<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxuryadmin.mapper.ord.OrdModifyRecordMapper">
  <resultMap id="BaseResultMap" type="com.luxuryadmin.entity.ord.OrdModifyRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fk_ord_order_id" jdbcType="INTEGER" property="fkOrdOrderId" />
    <result column="fk_shp_shop_id" jdbcType="INTEGER" property="fkShpShopId" />
    <result column="fk_pro_product_id" jdbcType="INTEGER" property="fkProProductId" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="unique_code_before" jdbcType="VARCHAR" property="uniqueCodeBefore" />
    <result column="unique_code_after" jdbcType="VARCHAR" property="uniqueCodeAfter" />
    <result column="type_before" jdbcType="VARCHAR" property="typeBefore" />
    <result column="type_after" jdbcType="VARCHAR" property="typeAfter" />
    <result column="finish_price_before" jdbcType="DECIMAL" property="finishPriceBefore" />
    <result column="finish_price_after" jdbcType="DECIMAL" property="finishPriceAfter" />
    <result column="sale_user_id_before" jdbcType="INTEGER" property="saleUserIdBefore" />
    <result column="sale_user_id_after" jdbcType="INTEGER" property="saleUserIdAfter" />
    <result column="after_sale_guarantee_before" jdbcType="VARCHAR" property="afterSaleGuaranteeBefore" />
    <result column="after_sale_guarantee_after" jdbcType="VARCHAR" property="afterSaleGuaranteeAfter" />
    <result column="remark_before" jdbcType="VARCHAR" property="remarkBefore" />
    <result column="remark_after" jdbcType="VARCHAR" property="remarkAfter" />
    <result column="address_before" jdbcType="VARCHAR" property="addressBefore" />
    <result column="address_after" jdbcType="VARCHAR" property="addressAfter" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fk_ord_order_id, fk_shp_shop_id, fk_pro_product_id, create_user_id, update_user_id, 
    unique_code_before, unique_code_after, type_before, type_after, finish_price_before, 
    finish_price_after, sale_user_id_before, sale_user_id_after, after_sale_guarantee_before, 
    after_sale_guarantee_after, remark_before, remark_after, address_before, address_after, 
    insert_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ord_modify_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectRecordListByOrderIdShopId" resultType="com.luxuryadmin.vo.ord.VoOrderModifyRecord">
    select
        omr.finish_price_before 'finishPriceBefore',
        omr.finish_price_after 'finishPriceAfter',
        omr.type_before 'typeBefore',
        omr.type_after 'typeAfter',
         (SELECT uShopR.`name` FROM shp_user_shop_ref uShopR
        WHERE uShopR.fk_shp_shop_id = omr.fk_shp_shop_id
        AND uShopR.fk_shp_user_id = omr.`sale_user_id_before`) 'saleUserNameBefore',
       (SELECT uShopR.`name` FROM shp_user_shop_ref uShopR
        WHERE uShopR.fk_shp_shop_id = omr.fk_shp_shop_id
        AND uShopR.fk_shp_user_id = omr.`sale_user_id_after`) 'saleUserNameAfter',
        omr.insert_time 'updateTime',
        (SELECT uShopR.`name` FROM shp_user_shop_ref uShopR
        WHERE uShopR.fk_shp_shop_id = omr.fk_shp_shop_id
        AND uShopR.fk_shp_user_id = omr.`update_user_id`) 'updateUserName'
    from
        ord_modify_record omr
    where
        omr.fk_ord_order_id = #{orderId,jdbcType=INTEGER}
    and
        omr.fk_shp_shop_id = #{shopId,jdbcType=INTEGER}
    order by insert_time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ord_modify_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.luxuryadmin.entity.ord.OrdModifyRecord">
    insert into ord_modify_record (id, fk_ord_order_id, fk_shp_shop_id, 
      fk_pro_product_id, create_user_id, update_user_id, 
      unique_code_before, unique_code_after, type_before, 
      type_after, finish_price_before, finish_price_after, 
      sale_user_id_before, sale_user_id_after, after_sale_guarantee_before, 
      after_sale_guarantee_after, remark_before, 
      remark_after, address_before, address_after, 
      insert_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{fkOrdOrderId,jdbcType=INTEGER}, #{fkShpShopId,jdbcType=INTEGER}, 
      #{fkProProductId,jdbcType=INTEGER}, #{createUserId,jdbcType=INTEGER}, #{updateUserId,jdbcType=INTEGER}, 
      #{uniqueCodeBefore,jdbcType=VARCHAR}, #{uniqueCodeAfter,jdbcType=VARCHAR}, #{typeBefore,jdbcType=VARCHAR}, 
      #{typeAfter,jdbcType=VARCHAR}, #{finishPriceBefore,jdbcType=DECIMAL}, #{finishPriceAfter,jdbcType=DECIMAL}, 
      #{saleUserIdBefore,jdbcType=INTEGER}, #{saleUserIdAfter,jdbcType=INTEGER}, #{afterSaleGuaranteeBefore,jdbcType=VARCHAR},
      #{afterSaleGuaranteeAfter,jdbcType=VARCHAR}, #{remarkBefore,jdbcType=VARCHAR}, 
      #{remarkAfter,jdbcType=VARCHAR}, #{addressBefore,jdbcType=VARCHAR}, #{addressAfter,jdbcType=VARCHAR}, 
      #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.luxuryadmin.entity.ord.OrdModifyRecord" useGeneratedKeys="true" keyProperty="id">
    insert into ord_modify_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fkOrdOrderId != null">
        fk_ord_order_id,
      </if>
      <if test="fkShpShopId != null">
        fk_shp_shop_id,
      </if>
      <if test="fkProProductId != null">
        fk_pro_product_id,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="uniqueCodeBefore != null">
        unique_code_before,
      </if>
      <if test="uniqueCodeAfter != null">
        unique_code_after,
      </if>
      <if test="typeBefore != null">
        type_before,
      </if>
      <if test="typeAfter != null">
        type_after,
      </if>
      <if test="finishPriceBefore != null">
        finish_price_before,
      </if>
      <if test="finishPriceAfter != null">
        finish_price_after,
      </if>
      <if test="saleUserIdBefore != null">
        sale_user_id_before,
      </if>
      <if test="saleUserIdAfter != null">
        sale_user_id_after,
      </if>
      <if test="afterSaleGuaranteeBefore != null">
        after_sale_guarantee_before,
      </if>
      <if test="afterSaleGuaranteeAfter != null">
        after_sale_guarantee_after,
      </if>
      <if test="remarkBefore != null">
        remark_before,
      </if>
      <if test="remarkAfter != null">
        remark_after,
      </if>
      <if test="addressBefore != null">
        address_before,
      </if>
      <if test="addressAfter != null">
        address_after,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fkOrdOrderId != null">
        #{fkOrdOrderId,jdbcType=INTEGER},
      </if>
      <if test="fkShpShopId != null">
        #{fkShpShopId,jdbcType=INTEGER},
      </if>
      <if test="fkProProductId != null">
        #{fkProProductId,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="uniqueCodeBefore != null">
        #{uniqueCodeBefore,jdbcType=VARCHAR},
      </if>
      <if test="uniqueCodeAfter != null">
        #{uniqueCodeAfter,jdbcType=VARCHAR},
      </if>
      <if test="typeBefore != null">
        #{typeBefore,jdbcType=VARCHAR},
      </if>
      <if test="typeAfter != null">
        #{typeAfter,jdbcType=VARCHAR},
      </if>
      <if test="finishPriceBefore != null">
        #{finishPriceBefore,jdbcType=DECIMAL},
      </if>
      <if test="finishPriceAfter != null">
        #{finishPriceAfter,jdbcType=DECIMAL},
      </if>
      <if test="saleUserIdBefore != null">
        #{saleUserIdBefore,jdbcType=INTEGER},
      </if>
      <if test="saleUserIdAfter != null">
        #{saleUserIdAfter,jdbcType=INTEGER},
      </if>
      <if test="afterSaleGuaranteeBefore != null">
        #{afterSaleGuaranteeBefore,jdbcType=VARCHAR},
      </if>
      <if test="afterSaleGuaranteeAfter != null">
        #{afterSaleGuaranteeAfter,jdbcType=VARCHAR},
      </if>
      <if test="remarkBefore != null">
        #{remarkBefore,jdbcType=VARCHAR},
      </if>
      <if test="remarkAfter != null">
        #{remarkAfter,jdbcType=VARCHAR},
      </if>
      <if test="addressBefore != null">
        #{addressBefore,jdbcType=VARCHAR},
      </if>
      <if test="addressAfter != null">
        #{addressAfter,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luxuryadmin.entity.ord.OrdModifyRecord">
    update ord_modify_record
    <set>
      <if test="fkOrdOrderId != null">
        fk_ord_order_id = #{fkOrdOrderId,jdbcType=INTEGER},
      </if>
      <if test="fkShpShopId != null">
        fk_shp_shop_id = #{fkShpShopId,jdbcType=INTEGER},
      </if>
      <if test="fkProProductId != null">
        fk_pro_product_id = #{fkProProductId,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="uniqueCodeBefore != null">
        unique_code_before = #{uniqueCodeBefore,jdbcType=VARCHAR},
      </if>
      <if test="uniqueCodeAfter != null">
        unique_code_after = #{uniqueCodeAfter,jdbcType=VARCHAR},
      </if>
      <if test="typeBefore != null">
        type_before = #{typeBefore,jdbcType=VARCHAR},
      </if>
      <if test="typeAfter != null">
        type_after = #{typeAfter,jdbcType=VARCHAR},
      </if>
      <if test="finishPriceBefore != null">
        finish_price_before = #{finishPriceBefore,jdbcType=DECIMAL},
      </if>
      <if test="finishPriceAfter != null">
        finish_price_after = #{finishPriceAfter,jdbcType=DECIMAL},
      </if>
      <if test="saleUserIdBefore != null">
        sale_user_id_before = #{saleUserIdBefore,jdbcType=INTEGER},
      </if>
      <if test="saleUserIdAfter != null">
        sale_user_id_after = #{saleUserIdAfter,jdbcType=INTEGER},
      </if>
      <if test="afterSaleGuaranteeBefore != null">
        after_sale_guarantee_before = #{afterSaleGuaranteeBefore,jdbcType=VARCHAR},
      </if>
      <if test="afterSaleGuaranteeAfter != null">
        after_sale_guarantee_after = #{afterSaleGuaranteeAfter,jdbcType=VARCHAR},
      </if>
      <if test="remarkBefore != null">
        remark_before = #{remarkBefore,jdbcType=VARCHAR},
      </if>
      <if test="remarkAfter != null">
        remark_after = #{remarkAfter,jdbcType=VARCHAR},
      </if>
      <if test="addressBefore != null">
        address_before = #{addressBefore,jdbcType=VARCHAR},
      </if>
      <if test="addressAfter != null">
        address_after = #{addressAfter,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luxuryadmin.entity.ord.OrdModifyRecord">
    update ord_modify_record
    set fk_ord_order_id = #{fkOrdOrderId,jdbcType=INTEGER},
      fk_shp_shop_id = #{fkShpShopId,jdbcType=INTEGER},
      fk_pro_product_id = #{fkProProductId,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      unique_code_before = #{uniqueCodeBefore,jdbcType=VARCHAR},
      unique_code_after = #{uniqueCodeAfter,jdbcType=VARCHAR},
      type_before = #{typeBefore,jdbcType=VARCHAR},
      type_after = #{typeAfter,jdbcType=VARCHAR},
      finish_price_before = #{finishPriceBefore,jdbcType=DECIMAL},
      finish_price_after = #{finishPriceAfter,jdbcType=DECIMAL},
      sale_user_id_before = #{saleUserIdBefore,jdbcType=INTEGER},
      sale_user_id_after = #{saleUserIdAfter,jdbcType=INTEGER},
      after_sale_guarantee_before = #{afterSaleGuaranteeBefore,jdbcType=VARCHAR},
      after_sale_guarantee_after = #{afterSaleGuaranteeAfter,jdbcType=VARCHAR},
      remark_before = #{remarkBefore,jdbcType=VARCHAR},
      remark_after = #{remarkAfter,jdbcType=VARCHAR},
      address_before = #{addressBefore,jdbcType=VARCHAR},
      address_after = #{addressAfter,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>