<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxuryadmin.mapper.pro.ProDownloadImgMapper">
    <resultMap id="BaseResultMap" type="com.luxuryadmin.entity.pro.ProDownloadImg">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="fk_pro_product_biz_id" jdbcType="VARCHAR" property="fkProProductBizId"/>
        <result column="fk_shp_shop_id" jdbcType="INTEGER" property="fkShpShopId"/>
        <result column="fk_shp_user_id" jdbcType="INTEGER" property="fkShpUserId"/>
        <result column="download_count" jdbcType="INTEGER" property="downloadCount"/>
        <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, fk_pro_product_biz_id, fk_shp_shop_id, fk_shp_user_id, download_count, insert_time, update_time,
    remark
  </sql>
    <select id="getObjectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pro_download_img
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--统计下载人数,统计该店铺该商品图片被多少人下载;-->
    <select id="countDownload" resultType="java.lang.Integer">
        select count(id) from pro_download_img where fk_pro_product_biz_id=#{bizId} and fk_shp_shop_id=#{shopId}
    </select>

    <!--自己是否下载过-->
    <select id="existsSelfDownload" resultType="java.lang.Integer">
        select count(id) from pro_download_img
        where fk_pro_product_biz_id=#{bizId} and fk_shp_shop_id=#{shopId} and fk_shp_user_id=#{userId}
    </select>

    <select id="listProDownloadImg" resultType="com.luxuryadmin.entity.pro.ProDownloadImg">
        SELECT
          img.fk_pro_product_biz_id 'fkProProductBizId',
          img.fk_shp_shop_id 'fkShpShopId',
          img.fk_shp_user_id 'fkShpUserId'
        FROM
          pro_download_img img
          LEFT JOIN
          pro_product pro
          ON img.`fk_pro_product_biz_id` = pro.`biz_id`
        WHERE pro.`fk_pro_state_code` BETWEEN 10 AND 39
    </select>
    <select id="selectDownload" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            pro_download_img
        where
            fk_pro_product_biz_id=#{bizId} and fk_shp_shop_id=#{shopId} and fk_shp_user_id=#{userId}
        limit 1
    </select>
    <delete id="deleteObject" parameterType="java.lang.Integer">
    delete from pro_download_img
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteProDownloadImgByShopId">
    delete from pro_download_img where fk_shp_shop_id = #{shopId}
    </delete>
    <insert id="saveObject" parameterType="com.luxuryadmin.entity.pro.ProDownloadImg">
        insert into pro_download_img
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="fkProProductBizId != null">
                fk_pro_product_biz_id,
            </if>
            <if test="fkShpShopId != null">
                fk_shp_shop_id,
            </if>
            <if test="fkShpUserId != null">
                fk_shp_user_id,
            </if>
            <if test="downloadCount != null">
                download_count,
            </if>
            <if test="insertTime != null">
                insert_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="fkProProductBizId != null">
                #{fkProProductBizId,jdbcType=VARCHAR},
            </if>
            <if test="fkShpShopId != null">
                #{fkShpShopId,jdbcType=INTEGER},
            </if>
            <if test="fkShpUserId != null">
                #{fkShpUserId,jdbcType=INTEGER},
            </if>
            <if test="downloadCount != null">
                #{downloadCount,jdbcType=INTEGER},
            </if>
            <if test="insertTime != null">
                #{insertTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateObject" parameterType="com.luxuryadmin.entity.pro.ProDownloadImg">
        update pro_download_img
        <set>
            <if test="fkProProductBizId != null">
                fk_pro_product_biz_id = #{fkProProductBizId,jdbcType=VARCHAR},
            </if>
            <if test="fkShpShopId != null">
                fk_shp_shop_id = #{fkShpShopId,jdbcType=INTEGER},
            </if>
            <if test="fkShpUserId != null">
                fk_shp_user_id = #{fkShpUserId,jdbcType=INTEGER},
            </if>
            <if test="downloadCount != null">
                download_count = #{downloadCount,jdbcType=INTEGER},
            </if>
            <if test="insertTime != null">
                insert_time = #{insertTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time= #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>