<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxuryadmin.mapper.pro.ProPrintTplMapper">
  <resultMap id="BaseResultMap" type="com.luxuryadmin.entity.pro.ProPrintTpl">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fk_shp_shop_id" jdbcType="INTEGER" property="fkShpShopId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="insert_admin" jdbcType="INTEGER" property="insertAdmin" />
    <result column="update_admin" jdbcType="INTEGER" property="updateAdmin" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fk_shp_shop_id, title, content, insert_admin, update_admin, insert_time, update_time
  </sql>
  <select id="getObjectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pro_print_tpl
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- 根据ID获取打印模板 -->
  <select id="selectProPrintTplById" resultType="com.luxuryadmin.vo.pro.VoProPrintTpl">
    select
      id,
      title,
      content
    from
      pro_print_tpl
    where
      id = #{id,jdbcType=INTEGER}
    and
      fk_shp_shop_id = #{shopId,jdbcType=INTEGER}
  </select>

  <!-- 根据店铺ID查询打印模板列表 -->
  <select id="selectProPrintTplList" resultType="com.luxuryadmin.vo.pro.VoProPrintTpl">
    select
      id,
      title,
      state,
      content
    from
      pro_print_tpl
    where
      fk_shp_shop_id = #{shopId,jdbcType=INTEGER}
    order by insert_time desc,id desc
  </select>

  <delete id="deleteObject" parameterType="java.lang.Integer">
    delete from pro_print_tpl
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!-- 根据ID和店铺ID删除模板 -->
  <delete id="deleteProPrintTplById">
    delete from pro_print_tpl
    where
    id = #{id,jdbcType=INTEGER}
    and
    fk_shp_shop_id = #{shopId,jdbcType=INTEGER}
    limit 1
  </delete>
  <insert id="insert" parameterType="com.luxuryadmin.entity.pro.ProPrintTpl">
    insert into pro_print_tpl (id, fk_shp_shop_id, title, 
      content, insert_admin, update_admin, 
      insert_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{fkShpShopId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{insertAdmin,jdbcType=INTEGER}, #{updateAdmin,jdbcType=INTEGER}, 
      #{insertTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="saveObject" parameterType="com.luxuryadmin.entity.pro.ProPrintTpl" useGeneratedKeys="true" keyProperty="id">
    insert into pro_print_tpl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fkShpShopId != null">
        fk_shp_shop_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="insertAdmin != null">
        insert_admin,
      </if>
      <if test="updateAdmin != null">
        update_admin,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fkShpShopId != null">
        #{fkShpShopId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="insertAdmin != null">
        #{insertAdmin,jdbcType=INTEGER},
      </if>
      <if test="updateAdmin != null">
        #{updateAdmin,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateObject" parameterType="com.luxuryadmin.entity.pro.ProPrintTpl">
    update pro_print_tpl
    <set>
      <if test="fkShpShopId != null">
        fk_shp_shop_id = #{fkShpShopId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="insertAdmin != null">
        insert_admin = #{insertAdmin,jdbcType=INTEGER},
      </if>
      <if test="updateAdmin != null">
        update_admin = #{updateAdmin,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luxuryadmin.entity.pro.ProPrintTpl">
    update pro_print_tpl
    set fk_shp_shop_id = #{fkShpShopId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      insert_admin = #{insertAdmin,jdbcType=INTEGER},
      update_admin = #{updateAdmin,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>