<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxuryadmin.mapper.pro.ProTagMapper">
  <resultMap id="BaseResultMap" type="com.luxuryadmin.entity.pro.ProTag">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="fk_shp_shop_id" jdbcType="INTEGER" property="fkShpShopId" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="insert_admin" jdbcType="INTEGER" property="insertAdmin" />
    <result column="update_admin" jdbcType="INTEGER" property="updateAdmin" />
    <result column="versions" jdbcType="INTEGER" property="versions" />
    <result column="del" jdbcType="CHAR" property="del" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, state, type, fk_shp_shop_id, insert_time, update_time, insert_admin, update_admin, 
    versions, del, remark
  </sql>
  <select id="getObjectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pro_tag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteObject" parameterType="java.lang.Integer">
    delete from pro_tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="saveObjectAll" parameterType="com.luxuryadmin.entity.pro.ProTag">
    insert into pro_tag (id, name, state, 
      type, fk_shp_shop_id, insert_time, 
      update_time, insert_admin, update_admin, 
      versions, del, remark)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{fkShpShopId,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{insertAdmin,jdbcType=INTEGER}, #{updateAdmin,jdbcType=INTEGER}, 
      #{versions,jdbcType=INTEGER}, #{del,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="saveObject" parameterType="com.luxuryadmin.entity.pro.ProTag">
    insert into pro_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="fkShpShopId != null">
        fk_shp_shop_id,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="insertAdmin != null">
        insert_admin,
      </if>
      <if test="updateAdmin != null">
        update_admin,
      </if>
      <if test="versions != null">
        versions,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="fkShpShopId != null">
        #{fkShpShopId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertAdmin != null">
        #{insertAdmin,jdbcType=INTEGER},
      </if>
      <if test="updateAdmin != null">
        #{updateAdmin,jdbcType=INTEGER},
      </if>
      <if test="versions != null">
        #{versions,jdbcType=INTEGER},
      </if>
      <if test="del != null">
        #{del,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateObject" parameterType="com.luxuryadmin.entity.pro.ProTag">
    update pro_tag
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="fkShpShopId != null">
        fk_shp_shop_id = #{fkShpShopId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertAdmin != null">
        insert_admin = #{insertAdmin,jdbcType=INTEGER},
      </if>
      <if test="updateAdmin != null">
        update_admin = #{updateAdmin,jdbcType=INTEGER},
      </if>
      <if test="versions != null">
        versions = #{versions,jdbcType=INTEGER},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luxuryadmin.entity.pro.ProTag">
    update pro_tag
    set name = #{name,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      fk_shp_shop_id = #{fkShpShopId,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      insert_admin = #{insertAdmin,jdbcType=INTEGER},
      update_admin = #{updateAdmin,jdbcType=INTEGER},
      versions = #{versions,jdbcType=INTEGER},
      del = #{del,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>