<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxuryadmin.mapper.sys.SysConfigNewMapper">
  <resultMap id="BaseResultMap" type="com.luxuryadmin.entity.sys.SysConfigNew">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="master_config_key" jdbcType="VARCHAR" property="masterConfigKey" />
    <result column="sub_config_key" jdbcType="VARCHAR" property="subConfigKey" />
    <result column="config_value" jdbcType="VARCHAR" property="configValue" />
    <result column="config_desc" jdbcType="VARCHAR" property="configDesc" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="auto_add" jdbcType="CHAR" property="autoAdd" />
    <result column="insert_admin" jdbcType="INTEGER" property="insertAdmin" />
    <result column="update_admin" jdbcType="INTEGER" property="updateAdmin" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del" jdbcType="CHAR" property="del" />
  </resultMap>
  <sql id="Base_Column_List">
    id, master_config_key, sub_config_key, config_value, config_desc, type, auto_add,
    insert_admin, update_admin, insert_time, update_time, del
  </sql>
  <select id="getObjectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_config_new
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectSysConfigByMasterKeyAndSubKey" resultType="java.lang.String">
    select
        config_value
    from
        sys_config_new
    where
        master_config_key = #{masterConfigKey,jdbcType=VARCHAR}
    and
        sub_config_key = #{subConfigKey,jdbcType=VARCHAR}
  </select>

  <!--根据类型来查找key值-->
  <select id="listSysConfigByType" resultMap="BaseResultMap">
    SELECT * FROM sys_config_new WHERE TYPE = #{type}
  </select>

  <delete id="deleteObject" parameterType="java.lang.Integer">
    delete from sys_config_new
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="saveObject" parameterType="com.luxuryadmin.entity.sys.SysConfigNew">
    insert into sys_config_new
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="masterConfigKey != null">
        master_config_key,
      </if>
      <if test="subConfigKey != null">
        sub_config_key,
      </if>
      <if test="configValue != null">
        config_value,
      </if>
      <if test="configDesc != null">
        config_desc,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="autoAdd != null">
        auto_add,
      </if>
      <if test="insertAdmin != null">
        insert_admin,
      </if>
      <if test="updateAdmin != null">
        update_admin,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="del != null">
        del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="masterConfigKey != null">
        #{masterConfigKey,jdbcType=VARCHAR},
      </if>
      <if test="subConfigKey != null">
        #{subConfigKey,jdbcType=VARCHAR},
      </if>
      <if test="configValue != null">
        #{configValue,jdbcType=VARCHAR},
      </if>
      <if test="configDesc != null">
        #{configDesc,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="autoAdd != null">
        #{autoAdd,jdbcType=CHAR},
      </if>
      <if test="insertAdmin != null">
        #{insertAdmin,jdbcType=INTEGER},
      </if>
      <if test="updateAdmin != null">
        #{updateAdmin,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="del != null">
        #{del,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateObject" parameterType="com.luxuryadmin.entity.sys.SysConfigNew">
    update sys_config_new
    <set>
      <if test="masterConfigKey != null">
        master_config_key = #{masterConfigKey,jdbcType=VARCHAR},
      </if>
      <if test="subConfigKey != null">
        sub_config_key = #{subConfigKey,jdbcType=VARCHAR},
      </if>
      <if test="configValue != null">
        config_value = #{configValue,jdbcType=VARCHAR},
      </if>
      <if test="configDesc != null">
        config_desc = #{configDesc,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="autoAdd != null">
        auto_add = #{autoAdd,jdbcType=CHAR},
      </if>
      <if test="insertAdmin != null">
        insert_admin = #{insertAdmin,jdbcType=INTEGER},
      </if>
      <if test="updateAdmin != null">
        update_admin = #{updateAdmin,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>