<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxuryadmin.mapper.op.OpPyqPhoneMapper">
  <resultMap id="BaseResultMap" type="com.luxuryadmin.entity.op.OpPyqPhone">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="batch" jdbcType="VARCHAR" property="batch" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="gps" jdbcType="VARCHAR" property="gps" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="is_user" jdbcType="VARCHAR" property="isUser" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="insert_admin" jdbcType="INTEGER" property="insertAdmin" />
    <result column="update_admin" jdbcType="INTEGER" property="updateAdmin" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, batch, type, province, city, address, shop_name, gps, industry, is_user, 
    insert_time, update_time, insert_admin, update_admin, remark
  </sql>
  <select id="getObjectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from op_pyq_phone
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteObject" parameterType="java.lang.Integer">
    delete from op_pyq_phone
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="saveBatch" parameterType="com.luxuryadmin.entity.op.OpPyqPhone">
    insert into op_pyq_phone (phone, batch, type, province, city, address, shop_name, gps,
           industry, is_user, insert_time, update_time, insert_admin, update_admin, remark)
    values
    <foreach collection="list" item="item" separator=",">
    (#{item.phone,jdbcType=VARCHAR}, #{item.batch,jdbcType=VARCHAR},
      #{item.type,jdbcType=VARCHAR}, #{item.province,jdbcType=VARCHAR}, #{item.city,jdbcType=VARCHAR}, 
      #{item.address,jdbcType=VARCHAR}, #{item.shopName,jdbcType=VARCHAR}, #{item.gps,jdbcType=VARCHAR}, 
      #{item.industry,jdbcType=VARCHAR}, #{item.isUser,jdbcType=VARCHAR}, #{item.insertTime,jdbcType=TIMESTAMP}, 
      #{item.updateTime,jdbcType=TIMESTAMP}, #{item.insertAdmin,jdbcType=INTEGER}, #{item.updateAdmin,jdbcType=INTEGER}, 
      #{item.remark,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="saveObject" parameterType="com.luxuryadmin.entity.op.OpPyqPhone">
    insert into op_pyq_phone
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="batch != null">
        batch,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="gps != null">
        gps,
      </if>
      <if test="industry != null">
        industry,
      </if>
      <if test="isUser != null">
        is_user,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="insertAdmin != null">
        insert_admin,
      </if>
      <if test="updateAdmin != null">
        update_admin,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="batch != null">
        #{batch,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="gps != null">
        #{gps,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="isUser != null">
        #{isUser,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertAdmin != null">
        #{insertAdmin,jdbcType=INTEGER},
      </if>
      <if test="updateAdmin != null">
        #{updateAdmin,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateObject" parameterType="com.luxuryadmin.entity.op.OpPyqPhone">
    update op_pyq_phone
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="batch != null">
        batch = #{batch,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="gps != null">
        gps = #{gps,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="isUser != null">
        is_user = #{isUser,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertAdmin != null">
        insert_admin = #{insertAdmin,jdbcType=INTEGER},
      </if>
      <if test="updateAdmin != null">
        update_admin = #{updateAdmin,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>