<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxuryadmin.mapper.op.OpUnionAgentMapper">
    <resultMap id="BaseResultMap" type="com.luxuryadmin.entity.op.OpUnionAgent">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="fk_op_employee_id" jdbcType="INTEGER" property="fkOpEmployeeId"/>
        <result column="fk_shp_user_id" jdbcType="INTEGER" property="fkShpUserId"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="agent_switch" jdbcType="VARCHAR" property="agentSwitch"/>
        <result column="valid_day" jdbcType="INTEGER" property="validDay"/>
        <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="insert_admin" jdbcType="INTEGER" property="insertAdmin"/>
        <result column="update_admin" jdbcType="INTEGER" property="updateAdmin"/>
        <result column="del" jdbcType="VARCHAR" property="del"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, fk_op_employee_id, fk_shp_user_id, state,agent_switch, valid_day, insert_time, update_time,
    insert_admin, update_admin, del, remark
  </sql>
    <select id="getObjectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from op_union_agent
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="existsObject" resultType="java.lang.Integer">
        select count(*) from op_union_agent
        where
        fk_shp_user_id = #{shpUserId}
        and del = 0
        <if test="id !=null">
            and id != #{id}
        </if>
    </select>
    <select id="listUnionAgent" resultType="com.luxuryadmin.vo.op.VoOpUnionAgentList">
        SELECT
        op_union_agent.id AS id,
        op_union_agent.fk_shp_user_id AS userId,
        shp_user.nickname AS nickname,
        shp_user.username AS username,
        shp_user.insert_time AS insertTime,
        op_union_agent.insert_time AS unionAgentInsertTime,
        op_union_agent.agent_switch as agentSwitch,
        op_union_agent.valid_day AS validDay,
        op_union_agent.fk_op_employee_id as employeeId,
        (select nickname from shp_user where del = 0 and id = op_employee.fk_shp_user_id)
        as employeeNickname
        FROM
        op_union_agent
        LEFT JOIN shp_user ON op_union_agent.fk_shp_user_id = shp_user.id
        LEFT JOIN op_employee ON op_union_agent.fk_op_employee_id = op_employee.id and op_employee.del = 0
        WHERE
        op_union_agent.del = 0
        <if test="username!=null and username!=''">
            and shp_user.username = #{username}
        </if>
        <if test="employeeId!=null">
            and op_union_agent.fk_op_employee_id = #{employeeId}
        </if>
    </select>

    <!--查询某个帐号下关联的代理人员(包含自己)-->
    <select id="listVoMpUnionAgencyUser" resultType="com.luxuryadmin.vo.biz.VoMpUnionAgencyUser">
        SELECT
          opua.fk_shp_user_id 'userId',
          su.`nickname`,
          opua.`valid_day` 'validDay'
        FROM
          op_union_agent opua
          LEFT JOIN op_employee ope
            ON opua.`fk_op_employee_id` = ope.`id`
          LEFT JOIN shp_user su
            ON opua.`fk_shp_user_id` = su.`id`
        WHERE ope.`fk_shp_user_id` = #{userId} and ope.del = 0 and opua.del = 0
    </select>
    <!--获取代理分享小程序的最长天数-->
    <select id="getUnionAgencyValidDay" resultType="java.lang.Integer">
        select valid_day from op_union_agent  where fk_shp_user_id = #{userId} and del = 0
    </select>
    <!--获取允许分享的代userId-->
    <select id="getAllowedAgencyShareUserId" resultType="java.lang.String">
        SELECT ifnull(GROUP_CONCAT(fk_shp_user_id),'') FROM  op_union_agent WHERE agent_switch = 1 and del = 0
    </select>
    <delete id="deleteObject" parameterType="java.lang.Integer">
    delete from op_union_agent
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteUnionAgent" parameterType="java.lang.Integer">
    update op_union_agent set del = '1' where id = #{id}
  </delete>
    <insert id="saveObject" parameterType="com.luxuryadmin.entity.op.OpUnionAgent">
        insert into op_union_agent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="fkOpEmployeeId != null">
                fk_op_employee_id,
            </if>
            <if test="fkShpUserId != null">
                fk_shp_user_id,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="agentSwitch != null">
                agent_switch,
            </if>
            <if test="validDay != null">
                valid_day,
            </if>
            <if test="insertTime != null">
                insert_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="insertAdmin != null">
                insert_admin,
            </if>
            <if test="updateAdmin != null">
                update_admin,
            </if>
            <if test="del != null">
                del,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="fkOpEmployeeId != null">
                #{fkOpEmployeeId,jdbcType=INTEGER},
            </if>
            <if test="fkShpUserId != null">
                #{fkShpUserId,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="agentSwitch != null">
                #{agentSwitch,jdbcType=VARCHAR},
            </if>
            <if test="validDay != null">
                #{validDay,jdbcType=INTEGER},
            </if>
            <if test="insertTime != null">
                #{insertTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="insertAdmin != null">
                #{insertAdmin,jdbcType=INTEGER},
            </if>
            <if test="updateAdmin != null">
                #{updateAdmin,jdbcType=INTEGER},
            </if>
            <if test="del != null">
                #{del,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateObject" parameterType="com.luxuryadmin.entity.op.OpUnionAgent">
        update op_union_agent
        <set>
            <if test="fkOpEmployeeId != null">
                fk_op_employee_id = #{fkOpEmployeeId,jdbcType=INTEGER},
            </if>
            <if test="fkShpUserId != null">
                fk_shp_user_id = #{fkShpUserId,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="agentSwitch != null">
                agent_switch = #{agentSwitch,jdbcType=VARCHAR},
            </if>
            <if test="validDay != null">
                valid_day = #{validDay,jdbcType=INTEGER},
            </if>
            <if test="insertTime != null">
                insert_time = #{insertTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="insertAdmin != null">
                insert_admin = #{insertAdmin,jdbcType=INTEGER},
            </if>
            <if test="updateAdmin != null">
                update_admin = #{updateAdmin,jdbcType=INTEGER},
            </if>
            <if test="del != null">
                del = #{del,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>