<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxuryadmin.mapper.shp.ShpPermUserRefMapper">
  <resultMap id="BaseResultMap" type="com.luxuryadmin.entity.shp.ShpPermUserRef">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fk_shp_shop_id" jdbcType="INTEGER" property="fkShpShopId" />
    <result column="fk_shp_user_id" jdbcType="INTEGER" property="fkShpUserId" />
    <result column="fk_shp_perm_index_id" jdbcType="INTEGER" property="fkShpPermIndexId" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="insert_admin" jdbcType="INTEGER" property="insertAdmin" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fk_shp_shop_id, fk_shp_user_id, fk_shp_perm_index_id, insert_time, insert_admin
  </sql>
  <select id="getObjectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shp_perm_user_ref
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--获取用户对应的权限-->
  <select id="listUserPermByShopIdAndUserId" resultType="com.luxuryadmin.vo.shp.VoUserPermission">
        SELECT
          id,
          fk_shp_perm_index_id 'permId'
        FROM
          shp_perm_user_ref
        where fk_shp_shop_id = #{shopId}
          and fk_shp_user_id = #{userId}
    </select>

  <!--获取用户对应的细粒度权限-->
  <select id="listUserPermission" resultType="java.lang.String">
        SELECT
          permission
        FROM
          shp_perm_user_ref uPerm
          LEFT JOIN shp_perm_index perm
            ON uPerm.`fk_shp_perm_index_id` = perm.`id`
        WHERE uPerm.`fk_shp_user_id` = #{userId}
          AND uPerm.`fk_shp_shop_id` = #{shopId}
          AND perm.`permission` != ''
          AND perm.`permission` IS NOT NULL
    </select>


  <!--获取所有细粒度权限,适用于经营者-->
  <select id="listBossPermission" resultType="java.lang.String">
        SELECT
          permission
        FROM
          shp_perm_index perm
        WHERE perm.`permission` != ''
          AND perm.`permission` IS NOT NULL
    </select>
  <select id="listShopUserIdWithPermission" resultType="java.lang.Integer">
        SELECT
          fk_shp_user_id
        FROM
          shp_perm_user_ref
        WHERE
          fk_shp_shop_id = #{shopId}
        AND
          fk_shp_perm_index_id =
          (
          SELECT
            id
          FROM
            shp_perm_index
          WHERE
            permission = #{permission}
          )
    </select>

  <!--用in查询是否存在权限-->
  <select id="existsShpUserPermissionRef" resultType="java.lang.Integer">
        select count(id) from shp_perm_user_ref
        where fk_shp_perm_index_id in (${queryPermIds})
        AND fk_shp_shop_id = #{shopId}
        AND fk_shp_user_id = #{userId}
    </select>
  <select id="countModulePermission" resultType="java.lang.Integer">
        SELECT
          COUNT(ref.id)
        FROM
          shp_perm_user_ref ref
        WHERE ref.fk_shp_shop_id = #{shopId}
          AND ref.fk_shp_user_id = #{userId}
          AND ref.fk_shp_perm_index_id IN
          (SELECT
            per.id
          FROM
            shp_perm_index per
          WHERE per.parent_id IN
            (SELECT
              subPer.id
            FROM
              shp_perm_index subPer
            WHERE subPer.parent_id =
              (SELECT
                lastPer.id
              FROM
                shp_perm_index lastPer
              WHERE NAME = #{moduleName})))
    </select>

  <delete id="deleteObject" parameterType="java.lang.Integer">
    delete from shp_role_permission_ref
    where id = #{id,jdbcType=INTEGER}
    </delete>

  <!--清空用户对应的权限-->
  <delete id="deletePermUserRefByShopIdAndUserId">
        DELETE
        FROM
          shp_perm_user_ref
        WHERE fk_shp_shop_id = #{shopId}
          AND fk_shp_user_id = #{userId}
    </delete>

  <!--删除用户相应的权限, 用户id用英文逗号拼接-->
  <delete id="deleteShpPermUserRefByUserId">
        delete from shp_perm_user_ref
        where fk_shp_user_id in (${userIds})
        and fk_shp_shop_id = #{shopId}
    </delete>
  <delete id="deleteShpUserPermissionRefByShopId">
         delete from shp_perm_user_ref where fk_shp_shop_id = #{shopId}
    </delete>

  <!--批量添加用户对应的权限-->
  <insert id="saveBatch" parameterType="com.luxuryadmin.entity.shp.ShpPermUserRef">
    insert into shp_perm_user_ref
    (fk_shp_shop_id,fk_shp_user_id,
    fk_shp_perm_index_id,insert_time, insert_admin)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.fkShpShopId,jdbcType=INTEGER},#{item.fkShpUserId,jdbcType=INTEGER},
      #{item.fkShpPermIndexId,jdbcType=INTEGER},#{item.insertTime,jdbcType=TIMESTAMP},
      #{item.insertAdmin,jdbcType=INTEGER})
    </foreach>
  </insert>

  <insert id="saveObject" parameterType="com.luxuryadmin.entity.shp.ShpPermUserRef">
    insert into shp_perm_user_ref
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fkShpShopId != null">
        fk_shp_shop_id,
      </if>
      <if test="fkShpUserId != null">
        fk_shp_user_id,
      </if>
      <if test="fkShpPermIndexId != null">
        fk_shp_perm_index_id,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="insertAdmin != null">
        insert_admin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fkShpShopId != null">
        #{fkShpShopId,jdbcType=INTEGER},
      </if>
      <if test="fkShpUserId != null">
        #{fkShpUserId,jdbcType=INTEGER},
      </if>
      <if test="fkShpPermIndexId != null">
        #{fkShpPermIndexId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertAdmin != null">
        #{insertAdmin,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateObject" parameterType="com.luxuryadmin.entity.shp.ShpPermUserRef">
    update shp_perm_user_ref
    <set>
      <if test="fkShpShopId != null">
        fk_shp_shop_id = #{fkShpShopId,jdbcType=INTEGER},
      </if>
      <if test="fkShpUserId != null">
        fk_shp_user_id = #{fkShpUserId,jdbcType=INTEGER},
      </if>
      <if test="fkShpPermIndexId != null">
        fk_shp_perm_index_id = #{fkShpPermIndexId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertAdmin != null">
        insert_admin = #{insertAdmin,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--变更经营者时,需要把新经营者之前的权限赋予给旧经营者;-->
  <update id="changeShpPermUserRef">
        update shp_perm_user_ref
        set fk_shp_user_id = #{oldUserId} , insert_time = now()
        where fk_shp_shop_id = #{shopId} and fk_shp_user_id = #{newUserId}
    </update>
</mapper>