<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxuryadmin.mapper.shp.ShpRoleMapper">
    <resultMap id="BaseResultMap" type="com.luxuryadmin.entity.shp.ShpRole">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="fk_shp_shop_id" jdbcType="INTEGER" property="fkShpShopId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="insert_admin" jdbcType="INTEGER" property="insertAdmin"/>
        <result column="update_admin" jdbcType="INTEGER" property="updateAdmin"/>
        <result column="versions" jdbcType="INTEGER" property="versions"/>
        <result column="del" jdbcType="CHAR" property="del"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, role_name, fk_shp_shop_id, type, insert_time, update_time, insert_admin, update_admin,
    versions, del, remark
  </sql>
    <select id="getObjectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shp_role
        where id = #{id,jdbcType=INTEGER}
    </select>


    <!--获取店铺下的所有角色-->
    <select id="listShpRole" resultType="com.luxuryadmin.vo.shp.VoShpRole">
        SELECT
          role_name 'roleName',
          id 'roleId',
          remark,
          type,
          IF(
            insert_admin = 0,
            '系统创建',
            (SELECT
              u.nickname
            FROM
              shp_user u
            WHERE u.id = r.`insert_admin`)
          ) 'createUser'
        FROM
          shp_role r
        WHERE fk_shp_shop_id = #{shopId}
        ORDER BY TYPE ASC, id ASC
  </select>

    <!--获取该店铺添加的角色总数(上限100个)-->
    <select id="countRoleNum" resultType="java.lang.Integer">
    SELECT COUNT(id) FROM shp_role WHERE fk_shp_shop_id = #{shopId}
    </select>
    <!--该店铺是否存在此角色-->
    <select id="existsShpRole" resultType="java.lang.Integer">
        select count(id) from shp_role where fk_shp_shop_id = #{shopId} and id = #{roleId}
    </select>

    <!--获取拥有此角色的所有用户id-->
    <select id="listUserIdByRoleId" resultType="java.lang.Integer">
        SELECT
          fk_shp_user_id
        FROM
          shp_user_role_ref
        WHERE fk_shp_role_id = #{roleId}
          AND fk_shp_shop_id = #{shopId}
    </select>

    <!--获取该店铺所有系统自动生成的角色id-->
    <select id="listRoleIdByShopId" resultType="java.lang.Integer">
        select id from shp_role where fk_shp_shop_id = #{shopId} and type = 0
    </select>

    <!--是否系统创建的角色-->
    <select id="isSysCreateRole" resultType="java.lang.Integer">
        select
          count(id)
        from
          shp_role
        where fk_shp_shop_id = #{shopId}
          and id = #{roleId}
          and type = 0
    </select>

    <delete id="deleteObject" parameterType="java.lang.Integer">
    delete from shp_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <!--删除店铺角色-->
    <delete id="deleteShopRole">
        DELETE FROM shp_role WHERE id =#{roleId} AND fk_shp_shop_id =#{shopId}
    </delete>

    <!-- 删除系统默认角色-->
    <delete id="deleteSysDefaultRole">
        DELETE FROM shp_role WHERE type =0 AND fk_shp_shop_id =#{shopId}
    </delete>
    <!--批量添加角色-->
    <insert id="saveBatch" parameterType="com.luxuryadmin.entity.shp.ShpRole">
        insert into shp_role (role_name, fk_shp_shop_id,
        type, insert_time, insert_admin, versions, del, remark)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.roleName,jdbcType=VARCHAR}, #{item.fkShpShopId,jdbcType=INTEGER},
            #{item.type,jdbcType=INTEGER}, #{item.insertTime,jdbcType=TIMESTAMP},
            #{item.insertAdmin,jdbcType=INTEGER}, #{item.versions,jdbcType=INTEGER},
            #{item.del,jdbcType=CHAR}, #{item.remark,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <insert id="saveObject" parameterType="com.luxuryadmin.entity.shp.ShpRole" useGeneratedKeys="true" keyProperty="id">
        insert into shp_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="fkShpShopId != null">
                fk_shp_shop_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="insertTime != null">
                insert_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="insertAdmin != null">
                insert_admin,
            </if>
            <if test="updateAdmin != null">
                update_admin,
            </if>
            <if test="versions != null">
                versions,
            </if>
            <if test="del != null">
                del,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="fkShpShopId != null">
                #{fkShpShopId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="insertTime != null">
                #{insertTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="insertAdmin != null">
                #{insertAdmin,jdbcType=INTEGER},
            </if>
            <if test="updateAdmin != null">
                #{updateAdmin,jdbcType=INTEGER},
            </if>
            <if test="versions != null">
                #{versions,jdbcType=INTEGER},
            </if>
            <if test="del != null">
                #{del,jdbcType=CHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateObject" parameterType="com.luxuryadmin.entity.shp.ShpRole">
        update shp_role
        <set>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="fkShpShopId != null">
                fk_shp_shop_id = #{fkShpShopId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="insertTime != null">
                insert_time = #{insertTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="insertAdmin != null">
                insert_admin = #{insertAdmin,jdbcType=INTEGER},
            </if>
            <if test="updateAdmin != null">
                update_admin = #{updateAdmin,jdbcType=INTEGER},
            </if>
            <if test="versions != null">
                versions = #{versions,jdbcType=INTEGER},
            </if>
            <if test="del != null">
                del = #{del,jdbcType=CHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>