<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxuryadmin.mapper.shp.ShpUserTokenMapper">
  <resultMap id="BaseResultMap" type="com.luxuryadmin.entity.shp.ShpUserToken">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fk_shp_user_id" jdbcType="INTEGER" property="fkShpUserId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="phone_system" jdbcType="VARCHAR" property="phoneSystem" />
    <result column="phone_type" jdbcType="VARCHAR" property="phoneType" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="app_version" jdbcType="VARCHAR" property="appVersion" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="mac" jdbcType="VARCHAR" property="mac" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="insert_admin" jdbcType="INTEGER" property="insertAdmin" />
    <result column="update_admin" jdbcType="INTEGER" property="updateAdmin" />
    <result column="versions" jdbcType="INTEGER" property="versions" />
    <result column="del" jdbcType="CHAR" property="del" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fk_shp_user_id, token, last_login_time, login_ip, device_id, phone_system, phone_type, 
    platform, app_version, state, mac, insert_time, update_time, insert_admin, update_admin, 
    versions, del, remark
  </sql>
  <select id="getObjectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shp_user_token
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--根据token查找ShpUserToken-->
  <select id="getShpUserTokenByToken" parameterType="com.luxuryadmin.entity.shp.ShpUserToken" resultMap="BaseResultMap">
        select * from shp_user_token where token = #{token,jdbcType=VARCHAR}
    </select>
  <select id="getShpUserTokenByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from shp_user_token where fk_shp_user_id = #{id} order by insert_time desc limit 1
    </select>
  <!--获取用户的登录记录-->
    <select id="listShpUserToken" resultType="com.luxuryadmin.vo.admin.shp.VoShpUserToken">
      SELECT
        login_ip 'loginIp',
        insert_time 'insertTime',
         device_id 'deviceId',
         platform 'platform',
         phone_type 'phoneType',
         phone_system 'phoneSystem',
         app_version 'appVersion'
      FROM
        shp_user_token
      WHERE fk_shp_user_id = #{userId}
      ORDER BY insert_time DESC
    </select>

    <delete id="deleteObject" parameterType="java.lang.Integer">
    delete from shp_user_token
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="saveObject" parameterType="com.luxuryadmin.entity.shp.ShpUserToken">
    insert into shp_user_token
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fkShpUserId != null">
        fk_shp_user_id,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="loginIp != null">
        login_ip,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="phoneSystem != null">
        phone_system,
      </if>
      <if test="phoneType != null">
        phone_type,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="appVersion != null">
        app_version,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="mac != null">
        mac,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="insertAdmin != null">
        insert_admin,
      </if>
      <if test="updateAdmin != null">
        update_admin,
      </if>
      <if test="versions != null">
        versions,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fkShpUserId != null">
        #{fkShpUserId,jdbcType=INTEGER},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null">
        #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="phoneSystem != null">
        #{phoneSystem,jdbcType=VARCHAR},
      </if>
      <if test="phoneType != null">
        #{phoneType,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="appVersion != null">
        #{appVersion,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        #{mac,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertAdmin != null">
        #{insertAdmin,jdbcType=INTEGER},
      </if>
      <if test="updateAdmin != null">
        #{updateAdmin,jdbcType=INTEGER},
      </if>
      <if test="versions != null">
        #{versions,jdbcType=INTEGER},
      </if>
      <if test="del != null">
        #{del,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateObject" parameterType="com.luxuryadmin.entity.shp.ShpUserToken">
    update shp_user_token
    <set>
      <if test="fkShpUserId != null">
        fk_shp_user_id = #{fkShpUserId,jdbcType=INTEGER},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIp != null">
        login_ip = #{loginIp,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="phoneSystem != null">
        phone_system = #{phoneSystem,jdbcType=VARCHAR},
      </if>
      <if test="phoneType != null">
        phone_type = #{phoneType,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="appVersion != null">
        app_version = #{appVersion,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        mac = #{mac,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertAdmin != null">
        insert_admin = #{insertAdmin,jdbcType=INTEGER},
      </if>
      <if test="updateAdmin != null">
        update_admin = #{updateAdmin,jdbcType=INTEGER},
      </if>
      <if test="versions != null">
        versions = #{versions,jdbcType=INTEGER},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--更新用户token的状态,用户状态：0：禁用；1：正常-->
  <update id="updateShpUserTokenState">
    UPDATE shp_user_token SET state = '0' WHERE fk_shp_user_id = #{userId}
  </update>
</mapper>