<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxuryadmin.mapper.shp.ShpUserInviteMapper">
    <resultMap id="BaseResultMap" type="com.luxuryadmin.entity.shp.ShpUserInvite">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="fk_invite_user_id" jdbcType="INTEGER" property="fkInviteUserId"/>
        <result column="fk_be_invite_user_id" jdbcType="INTEGER" property="fkBeInviteUserId"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="reward_state" jdbcType="VARCHAR" property="rewardState"/>
        <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="insert_admin" jdbcType="INTEGER" property="insertAdmin"/>
        <result column="update_admin" jdbcType="INTEGER" property="updateAdmin"/>
        <result column="versions" jdbcType="INTEGER" property="versions"/>
        <result column="del" jdbcType="CHAR" property="del"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, fk_invite_user_id, fk_be_invite_user_id, state, reward_state, insert_time, update_time, 
    insert_admin, update_admin, versions, del, remark
  </sql>
    <select id="getObjectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shp_user_invite
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectInvitePersonCountByUserId" resultType="java.lang.Integer">
        select
            count(1)
        from
            shp_user_invite
        where
            fk_invite_user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="selectInviteDetailListByUserId" resultType="com.luxuryadmin.vo.usr.VoInviteDetail">
        SELECT
            sui.inviteDate,su.phone,su.nickname 'username',su.head_img_url 'headImgUrl'
        FROM
        (
            SELECT
                id,
                fk_be_invite_user_id 'inviteUserId',
                DATE_FORMAT(insert_time,'%Y.%m.%d') 'inviteDate'
            FROM
                shp_user_invite
            WHERE
                fk_invite_user_id = #{userId,jdbcType=INTEGER}
                ORDER BY insert_time DESC
        ) sui
        LEFT JOIN (
            SELECT
                id, phone, nickname,head_img_url
            FROM
                shp_user
        ) su
        ON sui.inviteUserId = su.id
        ORDER BY sui.id DESC
    </select>

    <!--获取邀请该用户的userId(即TA的邀请人的邀请码)-->
    <select id="getParentInviteCode" resultType="java.lang.Integer">
        SELECT fk_invite_user_id FROM shp_user_invite WHERE fk_be_invite_user_id = #{userId}
    </select>

    <!--获取当前用户id的邀请用户-->
    <select id="listBeInviteUserIdByUserId" resultType="java.lang.Integer">
        SELECT fk_be_invite_user_id FROM shp_user_invite WHERE fk_invite_user_id = #{userId} AND state = 1
    </select>
    <select id="selectRegisterUserCountByUserId" resultType="java.lang.Integer" parameterType="int">
        SELECT count(*) FROM shp_user_invite WHERE fk_invite_user_id = #{userId} AND state = 1 and date(insert_time) = curdate()
    </select>
    <select id="selectNewShopCountByUserId" resultType="java.lang.Integer" parameterType="int">
        SELECT count(*) FROM shp_shop ss
        left join shp_user_invite sui on ss.fk_shp_user_id  =sui.fk_be_invite_user_id
        WHERE sui.fk_invite_user_id = #{userId} AND state = 1 and date(ss.insert_time) = curdate()
    </select>

    <delete id="deleteObject" parameterType="java.lang.Integer">
    delete from shp_user_invite
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="saveObject" parameterType="com.luxuryadmin.entity.shp.ShpUserInvite">
        insert into shp_user_invite
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="fkInviteUserId != null">
                fk_invite_user_id,
            </if>
            <if test="fkBeInviteUserId != null">
                fk_be_invite_user_id,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="rewardState != null">
                reward_state,
            </if>
            <if test="insertTime != null">
                insert_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="insertAdmin != null">
                insert_admin,
            </if>
            <if test="updateAdmin != null">
                update_admin,
            </if>
            <if test="versions != null">
                versions,
            </if>
            <if test="del != null">
                del,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="fkInviteUserId != null">
                #{fkInviteUserId,jdbcType=INTEGER},
            </if>
            <if test="fkBeInviteUserId != null">
                #{fkBeInviteUserId,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="rewardState != null">
                #{rewardState,jdbcType=VARCHAR},
            </if>
            <if test="insertTime != null">
                #{insertTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="insertAdmin != null">
                #{insertAdmin,jdbcType=INTEGER},
            </if>
            <if test="updateAdmin != null">
                #{updateAdmin,jdbcType=INTEGER},
            </if>
            <if test="versions != null">
                #{versions,jdbcType=INTEGER},
            </if>
            <if test="del != null">
                #{del,jdbcType=CHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateObject" parameterType="com.luxuryadmin.entity.shp.ShpUserInvite">
        update shp_user_invite
        <set>
            <if test="fkInviteUserId != null">
                fk_invite_user_id = #{fkInviteUserId,jdbcType=INTEGER},
            </if>
            <if test="fkBeInviteUserId != null">
                fk_be_invite_user_id = #{fkBeInviteUserId,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="rewardState != null">
                reward_state = #{rewardState,jdbcType=VARCHAR},
            </if>
            <if test="insertTime != null">
                insert_time = #{insertTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="insertAdmin != null">
                insert_admin = #{insertAdmin,jdbcType=INTEGER},
            </if>
            <if test="updateAdmin != null">
                update_admin = #{updateAdmin,jdbcType=INTEGER},
            </if>
            <if test="versions != null">
                versions = #{versions,jdbcType=INTEGER},
            </if>
            <if test="del != null">
                del = #{del,jdbcType=CHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>