<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxuryadmin.mapper.fin.FinShopRecordTypeMapper">
    <resultMap id="BaseResultMap" type="com.luxuryadmin.entity.fin.FinShopRecordType">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="fk_shp_shop_id" jdbcType="INTEGER" property="fkShpShopId"/>
        <result column="fin_record_type_name" jdbcType="VARCHAR" property="finRecordTypeName"/>
        <result column="inout_type" jdbcType="VARCHAR" property="inoutType"/>
        <result column="insert_admin" jdbcType="INTEGER" property="insertAdmin"/>
        <result column="update_admin" jdbcType="INTEGER" property="updateAdmin"/>
        <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="del" jdbcType="CHAR" property="del"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, fk_shp_shop_id, fin_record_type_name, inout_type, insert_admin, update_admin, insert_time,
    update_time, del
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from fin_shop_record_type
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="listFinShopRecordTypeByShopId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from fin_shop_record_type where fk_shp_shop_id = #{shopId} and inout_type= #{inoutType} and del= '0' order by id asc
    </select>

    <select id="listAllRecordTypeWithoutInoutType" resultType="java.lang.String">
    select distinct(fin_record_type_name) from fin_shop_record_type where fk_shp_shop_id = #{shopId} and del= '0'
  </select>

    <select id="selectCountByShopId" resultType="java.lang.Integer">
    select count(1) from fin_shop_record_type where fk_shp_shop_id = #{shopId} and del= '0'
  </select>

    <select id="selectFinShopRecordTypeById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        fin_shop_record_type
        where
        fk_shp_shop_id = #{shopId}
        and
        del='0'
        and
        id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAllNeedInitShopId" resultType="java.lang.Integer">
    SELECT
    id
    FROM
    shp_shop
    WHERE
    id NOT IN (
    SELECT DISTINCT
    (fk_shp_shop_id)
    FROM
    fin_shop_record
    WHERE
    inout_sub_type = '商品收入'
    )
    ORDER BY
    ID
  </select>

    <!-- 根据店铺ID和名称查询流水记录类型 -->
    <select id="selectFinShopRecordTypeByName" resultType="com.luxuryadmin.entity.fin.FinShopRecordType">
        select
        <include refid="Base_Column_List"/>
        from
        fin_shop_record_type
        where
        fk_shp_shop_id = #{shopId}
        and
        del='0'
        and
        fin_record_type_name = #{finShopRecordTypeName}
        and
        inout_type = #{inoutType}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fin_shop_record_type
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <delete id="deleteFinShopRecordTypeByShopId">
       delete from fin_shop_record_type where fk_shp_shop_id = #{shopId}
    </delete>
    <insert id="insert" parameterType="com.luxuryadmin.entity.fin.FinShopRecordType">
    insert into fin_shop_record_type (id, fk_shp_shop_id, fin_record_type_name,  inout_type,
      insert_admin, update_admin, insert_time, 
      update_time, del)
    values (#{id,jdbcType=INTEGER}, #{fkShpShopId,jdbcType=INTEGER}, #{finRecordTypeName,jdbcType=VARCHAR},#{inoutType,jdbcType=VARCHAR},
      #{insertAdmin,jdbcType=INTEGER}, #{updateAdmin,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{del,jdbcType=CHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.luxuryadmin.entity.fin.FinShopRecordType" useGeneratedKeys="true"
            keyProperty="id">
        insert into fin_shop_record_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="fkShpShopId != null">
                fk_shp_shop_id,
            </if>
            <if test="finRecordTypeName != null">
                fin_record_type_name,
            </if>
            <if test="inoutType != null">
                inout_type,
            </if>
            <if test="insertAdmin != null">
                insert_admin,
            </if>
            <if test="updateAdmin != null">
                update_admin,
            </if>
            <if test="insertTime != null">
                insert_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="del != null">
                del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="fkShpShopId != null">
                #{fkShpShopId,jdbcType=INTEGER},
            </if>
            <if test="finRecordTypeName != null">
                #{finRecordTypeName,jdbcType=VARCHAR},
            </if>
            <if test="inoutType != null">
                #{inoutType,jdbcType=VARCHAR},
            </if>
            <if test="insertAdmin != null">
                #{insertAdmin,jdbcType=INTEGER},
            </if>
            <if test="updateAdmin != null">
                #{updateAdmin,jdbcType=INTEGER},
            </if>
            <if test="insertTime != null">
                #{insertTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="del != null">
                #{del,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.luxuryadmin.entity.fin.FinShopRecordType">
        update fin_shop_record_type
        <set>
            <if test="fkShpShopId != null">
                fk_shp_shop_id = #{fkShpShopId,jdbcType=INTEGER},
            </if>
            <if test="finRecordTypeName != null">
                fin_record_type_name = #{finRecordTypeName,jdbcType=VARCHAR},
            </if>
            <if test="inoutType != null">
                inout_type = #{inoutType,jdbcType=VARCHAR},
            </if>
            <if test="insertAdmin != null">
                insert_admin = #{insertAdmin,jdbcType=INTEGER},
            </if>
            <if test="updateAdmin != null">
                update_admin = #{updateAdmin,jdbcType=INTEGER},
            </if>
            <if test="insertTime != null">
                insert_time = #{insertTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="del != null">
                del = #{del,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.luxuryadmin.entity.fin.FinShopRecordType">
    update fin_shop_record_type
    set fk_shp_shop_id = #{fkShpShopId,jdbcType=INTEGER},
      fin_record_type_name = #{finRecordTypeName,jdbcType=VARCHAR},
      inout_type = #{inoutType,jdbcType=VARCHAR},
      insert_admin = #{insertAdmin,jdbcType=INTEGER},
      update_admin = #{updateAdmin,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del = #{del,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>